<!-- 継承する親テンプレートを指定theme.html -->
{% extends "theme.html" %}
<!-- 親テンプレートのタイトルブロックを使うよ -->
{% block title %}アンサ：トップページ{% endblock %}
<!-- ここから親テンプレートの<head>タグを継承する-->
{% block head %}
<!-- {super}で親テンプレートの内容を表示する -->
{{super()}}
<!--jumbotronは見出しを作ってくれる-->
<div class="jumbotron">
    <!--このrowで区切られた範囲を一つの段として、それをどう使い分けるか設定-->
    <div class="row">
        <!--576px未満（スマホ）では一つの段をまるまる使って12/12にプロフィール表示し、
        576以上では一つの段の8/12=2/3にプロフィール表示する。（残りの1/3は画像）-->
        <div class="col-12 col-sm-8 col-md-8 col-lg-8">
            <h1>アンサ</h1>
            <p>質問に答えるサービス</p>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="http://2.bp.blogspot.com/-Vo_Zg1TcAz8/V5NDnu2l8WI/AAAAAAAA8dQ/bVr8Ybi7k9oSX8MH0Af9Kvv5MzW-ccwJQCLcB/s800/ai_pet_family.png" class="img-thumbnail" width="200" height="200" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera"/>
            <!-- current_userがアノニマスなら,oauth/twitterに飛ばす-->
            {% if current_user.is_anonymous==True %}
                <a href="/oauth/twitter" class="btn btn-primary">Twitterでログインして開始</a>
            <!-- もしユーザーが認証されていたら、ユーザー名とイメージ画と自己紹介を表示 -->
            {% else %}
                <!-- user/{user_id}に飛ばすボタン -->
                <a href="/user/{{current_user.id}}" class="btn btn-primary">あなたへの質問を見る</a>
                <h2>{{current_user.username}}</h2>
                <img src="{{current_user.user_image_url}}" width="64"/>
            {% endif %}
        </div>
    </div>
</div>
{% endblock}